<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
    <title>Tasks</title>
</head>

<body>

    <div class="container">
        <div>
            <a class="usuarios" href="{{ url_for('user.getUsers') }}">Ver usuarios</a>
        </div>

        <div class="form">
            <p class="title">Create<b>Task</b></p>
    
            <form method="post" class="form"> 
                <label for="tarea">Tarea:</label> 
                <br>
                <input name="tarea" required />
                
                <br>
                <label for="userCorreo">Usuario:</label> 
                <br>
                <select name="userCorreo" required>
                    {% for user in users %}
                        <option value="{{ user['correo'] }}">{{ user['correo'] }}</option>
                    {% endfor %}
                </select>
                
                <br>
                <label for="estado">Estado:</label>
                <br>
                <select name="estado" required>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En progreso">En progreso</option>
                    <option value="Completada">Completada</option>
                </select>
                
                <br>
                <input type="submit" value="Create" />
        
            </form>
    
        </div>

        <div id="tasks">
            <table class="table">
                <thead>
                    <tr class="info">
                        <th scope="col">Task</th>
                        <th scope="col"><a href="{{ url_for('task.getTasks', filtro='fecha') }}">Created at</a></th>
                        <th scope="col"><a href="{{ url_for('task.getTasks', filtro='usuario_id') }}">UsuarioId</a></th>
                        <th scope="col"><a href="{{ url_for('task.getTasks', filtro='id_estado') }}">Id_estado</a></th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for task in tasks %}
                    <tr>
                        {% if task['id_estado'] != 3 %}
                            <td>{{ task['tarea'] }}</td>
                            <td>{{ task['fecha'] }}</td>
                            <td>{{ task['usuario_id'] }}</td>
                            <td>
                                <details>
                                    {% if task['id_estado'] == 1 %}
                                        <summary>Pendiente</summary>
                                        <ul>
                                            <li>
                                                <a href="{{ url_for('task.update_task', id=task['id'], estado='En progreso', pagina='task') }}">En progreso</a>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('task.update_task', id=task['id'], estado='Completo', pagina='task') }}">Completo</a>
                                            </li>
                                        </ul>
                                    {% elif  task['id_estado'] == 2 %}
                                        <summary>En progreso</summary>
                                        <ul>
                                            <li>
                                                <a href="{{ url_for('task.update_task', id=task['id'], estado='Pendiente', pagina='task') }}">Pendiente</a>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('task.update_task', id=task['id'], estado='Completo', pagina='task') }}">Completo</a>
                                            </li>
                                        </ul>
                                    {% endif %}    
                                </details>
                            </td>
                            <td><a href="{{ url_for('task.delete_task', id=task['id'], pagina='task') }}">🗑️</a></td>
                        {% endif %} 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>