<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='userTasks.css') }}">
    <title>User tasks</title>
</head>
<body>
    
    <div class="container">
        <div>
            <a class="links" href="{{ url_for('task.getTasks', filtro=' ') }}">Ver tareas</a>
            <a class="links" href="{{ url_for('user.getUsers') }}">Ver usuarios</a>
        </div>

        <div>
            <h1 class="title">{{ name }}</h1>
            <h1 class="title">{{ correo }}</h1>
        </div>
    
        <div id="tasks">
            <table class="table">
                <thead>
                    <tr class="info">
                        <th scope="col">Task</th>
                        <th scope="col">Created at</th>
                        <th scope="col">UsuarioId</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for task in userTasks %}
                        {% if task['usuario_id'] == idUser  %}
                            {% if task['id_estado'] != 3 %}
                                <tr>
                                    <td>{{ task['tarea'] }}</td>
                                    <td>{{ task['fecha'] }}</td>
                                    <td>{{ task['usuario_id'] }}</td>
                                    <td>
                                        <details>
                                            {% if task['id_estado'] == 1 %}
                                                <summary>Pendiente</summary>
                                                <ul>
                                                    <li>
                                                        <a href="{{ url_for('task.update_task', id=task['id'], estado='En progreso', pagina='user', name=name, correo=correo, idUser=idUser) }}">En progreso</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ url_for('task.update_task', id=task['id'], estado='Completo', pagina='user', name=name, correo=correo, idUser=idUser) }}">Completo</a>
                                                    </li>
                                                </ul>
                                            {% elif  task['id_estado'] == 2 %}
                                                <summary>En progreso</summary>
                                                <ul>
                                                    <li>
                                                        <a href="{{ url_for('task.update_task', id=task['id'], estado='Pendiente', pagina='user', name=name, correo=correo, idUser=idUser) }}">Pendiente</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ url_for('task.update_task', id=task['id'], estado='Completo', pagina='user', name=name, correo=correo, idUser=idUser) }}">Completo</a>
                                                    </li>
                                                </ul>
                                            {% endif %}    
                                        </details>
                                    </td>
                                    <td><a class="links" href="{{ url_for('task.delete_task', id=task['id'], pagina='user') }}">🗑️</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    
</body>
</html>